.container-main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: fadeInBackground 3s ease-in-out forwards;
  background-position: 50% 25%;

    .main-col{
        display: flex;
        .main-p-1 {
            position: absolute; 
            top: 0;
            left: 0;
            margin: 40px;
            font-size: 80px;
            font-weight: bold;  
            color: #fff;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงาข้อความ */
            display: flex;
            flex-direction: column;
            justify-content: center; /* จัดข้อความให้อยู่ตรงกลาง */
            align-items: center; /* จัดข้อความให้อยู่กึ่งกลาง */
            animation: bounceIn 2s ease-in-out forwards;


        }
        .main-p-2 {
            bottom: 0;
            right: 0;
            margin: 40px;
            position: absolute;
            font-size: 80px;
            font-weight: bold;
            color: #fff;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงาข้อความ */
            display: flex;
            flex-direction: column; /* ใช้ flex เพื่อจัดเรียงข้อความในแนวตั้ง */
            align-items: center; /* จัดให้ข้อความอยู่ตรงกลาง */
            line-height: 1.2; /* ปรับระยะห่างระหว่างบรรทัด */
            animation: bounceIn 2s ease-in-out forwards;
        }

        
    }

}

/* แอนิเมชันการเคลื่อนย้ายข้อความขึ้น */

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translateY(-200px);
    }
    50% {
        opacity: 1;
        transform: scale(1.05) translateY(10px);
    }
    70% {
        transform: scale(0.9) translateY(-5px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes slideUpWithFade {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUpWithRotate {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.8) rotate(10deg);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px) scale(1.05) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1) rotate(0);
    }
}

@keyframes backgroundColorChange {
    0% {
        background-color: #d2374e;
    }
    50% {
        background-color: #4e237d;
    }
    100% {
        background-color: #d2374e;
    }
}