/* ตั้งค่าให้ทุกองค์ประกอบในหน้าใช้ฟอนต์ 'Kanit' */
* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kanit', sans-serif; /* ใช้ฟอนต์ Kanit ในส่วนของ code */
}
